{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.0",
  "speak": "The weather forecast in Yokohama",
  "body": [
    {
      "type": "TextBlock",
      "text": "{{ city }}",
      "size": "large",
      "isSubtle": true
    },
    {
      "type": "TextBlock",
      "text": "{{ today.date }}",
      "spacing": "None"
    },
    {
      "type": "ColumnSet",
      "columns": [
        {
          "type": "Column",
          "width": "auto",
          "items": [
            {
              "type": "Image",
              "url": "{{ today.img_url }}",
              "size": "Small"
            }
          ]
        },
        {
          "type": "Column",
          "width": "auto",
          "items": [
            {
              "type": "TextBlock",
              "text": "{{ today.telop }}",
              "size": "ExtraLarge",
              "spacing": "None"
            }
          ]
        },
        {
          "type": "Column",
          "width": "stretch",
          "items": [
            {
              "type": "TextBlock",
              "text": "最高気温 {{ today.temp_max }} 度",
              "horizontalAlignment": "Left"
            },
            {
              "type": "TextBlock",
              "text": "最低気温 {{ today.temp_min }} 度",
              "horizontalAlignment": "Left",
              "spacing": "None"
            }
          ]
        }
      ]
    }

  ]
}
